@font-face {
  font-family: 'Product-sans';
  url('/font/ProductSans-regular.ttf')  format('truetype');
}

*{
  font-family: 'Product-sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main{
  margin: auto;
  text-align: center;
}
